<div class="row">
  <div class="col-md-12">
    <div class="box no-border">
      <!-- form start -->
      <form (submit)="createEvent()">
        <div class="box-body">
          <div class="form-group">
            <label for="eventTitle" class="control-label">
              Title <span class="text-red" title="Mandatory">*</span>
            </label>
            <input id="eventTitle" name="newEventTitle"
                [(ngModel)]="newEvent.title"
                type="text"
                class="form-control" />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <label for="eventStart" class="control-label">
                  Starts at <span class="text-red" title="Mandatory">*</span>
                </label>
                <input id="eventStart"
                  name="newEventStart"
                  [(ngModel)]="newEvent.start"
                  type="text"
                  class="form-control datepicker" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <label for="eventFinish" class="control-label">
                  Ends at <span class="text-red" title="Mandatory">*</span>
                </label>
                <input id="eventFinish"
                  name="newEventFinish"
                  [(ngModel)]="newEvent.finish"
                  type="text"
                  class="form-control datepicker" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="eventDescription" class="control-label">
              Description <span class="text-red" title="Mandatory">*</span>
            </label>
            <textarea id="eventDescription"
              name="newEventDescription"
              [(ngModel)]="newEvent.description"
              cols="30"
              rows="10"
              class="form-control"></textarea>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <label for="eventMinVolunteers" class="control-label">
                  Minimum volunteers <span class="text-red" title="Mandatory">*</span>
                </label>
                <input id="eventMinVolunteers"
                       name="newEventMinVolunteers"
                       [(ngModel)]="newEvent.min_volunteers"
                       type="number"
                       class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <label for="eventMaxVolunteers" class="control-label">
                  Maximum volunteers <span class="text-red" title="Mandatory">*</span>
                </label>
                <input id="eventMaxVolunteers"
                       name="newEventMaxVolunteers"
                       [(ngModel)]="newEvent.max_volunteers"
                       type="number"
                       class="form-control" />
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <a [routerLink]="['/events']" class="btn btn-default">
            Discard
          </a>
          <button type="submit" class="btn btn-primary pull-right">
            Create
          </button>
        </div><!-- /.box-footer -->
      </form>
    </div>
    <pre>{{ newEvent | json }}</pre>
  </div>
</div>
