<!-- Site wrapper -->
<div class="wrapper">
  <app-navbar></app-navbar>

  <!-- =============================================== -->

  <app-sidenav></app-sidenav>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <app-header-name></app-header-name>

    <!-- Main content -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a href="http://www.obk.org.au" target="_blank">Our Big Kitchen</a>
    </div>
    <!-- Default to the left -->
    <strong>Created with ❤️ &nbsp; by <a href="https://github.com/alaphao/obk-web/graphs/contributors" target="_blank">Volunteers</a>.</strong>
  </footer>
</div>
<!-- ./wrapper -->
