<div class="box box-primary">
  <div class="box-header">
    <!-- tools box -->
    <div class="pull-right box-tools">
      <a [routerLink]="['/events/new']" class="btn btn-default btn-sm">New Event</a>
    </div>
    <!-- /. tools -->
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
        <tr>
          <th>Event ID</th>
          <th>Date</th>
          <th>Title</th>
          <th>Volunteers</th>
          <th>Spots Left</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.id }}</td>
          <td>{{ event.start | date:'dd/MM/yyyy' }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.volunteer_count }}</td>
          <td>{{ event.spots_left }}</td>
          <td>
            <a [routerLink]="['/events/' + event.id]" class="btn btn-default btn-sm">Edit</a> &nbsp;
            <a (click)="delete(event.id)" class="btn btn-default btn-sm">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
</div>
